@charset "UTF-8";
html{
	overflow: auto;
}
body {
	background-color: #fff4e1;
	color: #3b2c13;
	font-family: "Rounded Mplus 1c";
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	overflow: hidden;
}
h1,h2 {
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden
}
*{
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
	color: #3b2c13;
}
.clearfix:after{
	content:"";
	clear: both;
	display:block;
	}
li{
	float: left;
}
.header {
	background: url("../img/oshietop.png") no-repeat top center;
	position: relative;
	width: 1000px;
	height: 559px;
	margin-bottom: 30px;
	margin: 0 auto;
}
.header h1 {
	display: block;
	background: url("../img/logo.png")no-repeat;
	position: absolute;
	top: 10px; /* #contents内の上から何pxか */
	left: 56%; /* #contents内の左から何pxか */
	width: 409px;
	height: 254px;
}

h2.aisatsu{
	display: inline-block;
	width: 535px;
	height: 30px;
	background: url("../img/txt_haji_01.png");
	margin: 0 auto;
	margin-bottom: 20px;
}
.main p{
	display: block;
	padding-bottom: 20px;
}
.kuwashiku{
	display: inline-block;
	background: url("../img/kuwashiku.png");
	width:  135px;
	height:  45px;
	line-height: 3;
	color: #5d412a;
	margin-bottom: 20px;
}
.main{
	background-color: #ffffff;
	padding: 30px 0;
}
ul.menu {
	width:1000px;
	margin: 0 auto;
	letter-spacing: -.4em;
	font-size: 0;
	padding: 0px 30px;
}
ul.menu li {
	width:235px;
	height: auto;
	display: inline-block;
	list-style: none;
	letter-spacing: normal; /*通常に戻す*/
	vertical-align: top;
	font-size: 13px;
	padding-right:10px;
}
ul.menu li:first-child {
	height:60px;
}
ul.global_menu li {
	vertical-align:bottom;
}
ul.menu li a {
	display: block;
}
.access{
	width:950px;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 20px;
}
.access h2{
	display: inline-block;
	width: 480px;
	height: 30px;
	background: url("../img/text_access.png");
	margin: 20px 0px;
}
.menu div{
	position: relative;
}
.main img{
	width: 100%;
	border-radius: 10px;
}
.menu h3{
	position: absolute;
	color: #f39700;
	text-align: center;
	width: 100%;
	bottom: 20px;
	font-size:110%;
	margin: 0;
	padding: 0;
}
div .left {
	float: left;
	width: 600px;
	height: 240px;
}
div.right {
	float : left ;
	width: 300px;
	height: 240px;
	position: relative;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
span.right{
	position: absolute;
	top: 50%;
	left: 15px;
	margin: -0.5em;
}
footer {
	margin: 0 -200%;
	padding: 0 200%;
	background: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
}
dd{
	text-align:center;
	color: #3b2c13;
	padding: 20px;
}
